window {
    margin: 0;
    padding: 0;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: rgba(10, 10, 10, 0.8);

    font-family: "JetBrains Mono Nerd Font";
    font-size: 16px;
}

#outer-box {
    margin: 8px;
    padding: 0;
}

#input {
    margin: 0 0 8px 0;
    padding: 8px 10px;

    border: none;
    border-radius: 6px;
    outline: none;

    color: #ffffff;
    background-color: transparent;

    box-shadow: none;
}

#input image {
    color: #c6c6c6;
}

#input:focus {
    border: none;
    box-shadow: none;
}

#scroll {
    margin: 0;
    padding: 0;
}

#inner-box {
    margin: 0;
    padding: 0;
}

#entry {
    padding: 7px 10px;
    border-radius: 6px;

    color: #ebebeb;
    background-color: transparent;
}

#entry:selected {
    color: #ebebeb;
    background-color: rgba(255, 255, 255, 0.5);
}

#entry:selected #text {
    color: #ebebeb;
}

#text {
    color: #ebebeb;
}

#text:selected {
    color: #ebebeb;
}

#img {
    margin-right: 8px;
}

#expander-box {
    background-color: transparent;
}
