* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-weight: bold;
    font-size: 16px;
    color: #c0caf5;
}

window#waybar {
    background: rgba(21, 22, 30, 0.5);
}

tooltip {
    background: #1e1e2e;
    border: 1px solid #7aa2f7;
}

tooltip label {
    color: #c0caf5;
}


#workspaces button {
    padding: 0px 5px;
    color: #c0caf5;
}

#workspaces button.active {
    border-bottom: 2px solid #7aa2f7;
    border-radius: 0px;
    margin-bottom: 2px;
    color: #c0caf5;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
}

#workspaces button.urgent {
    color: #F7768E;
}


#workspaces,
#tags,
#window,
#network,
#cpu,
#memory,
#disk,
#battery,
#clock,
#tray {
    background: rgba(21, 22, 30, 0.7);
    padding: 0px 10px;
    margin: 3px 0px;
    border: 0px;
}

#workspaces, #tags {
    border-radius: 12px 0px 0px 12px;
    margin-right: 0px;
}

#window { 
    border-radius: 0px 12px 12px 0px;
    margin-left: 0px;
}


#network {
    border-radius: 12px 0px 0px 12px;
    margin-right: 0px;
}

#tray {
    border-radius: 0px 12px 12px 0px;
    margin-left: 0px;
}

#cpu,
#memory,
#disk,
#battery,
#clock {
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
